[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
webargs = "*"
flask = "*"
flask-wtf = "*"
email-validator = "*"
python-dotenv = "*"
gunicorn = "*"
markdown = "*"
attrs = "*"
pymongo = {extras = ["srv"], version = "*"}
gspread = "*"

[dev-packages]
pylint = "*"
black = "*"

[pipenv]
allow_prereleases = true

[scripts]
dev = "flask run"
generate_key = "python generate_key.py"
update = "python -m src.dataupdater"
