[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gspread = "*"
webargs = "*"
flask = "*"
flask-wtf = "*"
email-validator = "*"
python-dotenv = "*"
gunicorn = "*"
markdown = "*"
attrs = "*"

[dev-packages]
pylint = "*"
