{% extends "emails/layout/html_layout.html" %}

{% block content %}
<p>Mail para {{nombre|title}}.</p>
<p>Corrector: {{corrector}}.</p>
{% if (nota >= 4) and (nota < 10) and (puntos_extras > 0) %}
<p>Hola, este mail es para darles la devolución del {{examen}}. Tu nota es <strong>{{"%.2g"|format(nota)}}</strong>,
    pero gracias a los puntos extra que te ganaste en los cuestionarios, tu nota final es
    <strong>{{"%.2g"|format(nota_final)}}</strong>.</p>
{% else %}
<p>Hola, este mail es para darles la devolución del {{examen}}, tu nota es <strong>{{"%.2g"|format(nota)}}</strong>.</p>
{% endif %}

{{correcciones|md|safe}}
{% endblock %}