{% extends "emails/layout/layout.html" %}

{% block content %}
Mail para {{nombre|title}}.

Corrector: {{corrector}}.

Hola, este mail es para darles la devolución del {{examen}}, su nota es {{nota}}.

Mail para {{nombre|title}}.

Corrector: {{corrector}}.
{% if (nota >= 4) and (nota < 10) and (puntos_extras > 0) %}
Hola, este mail es para darles la devolución del {{examen}}. Tu nota es {{"%.2g"|format(nota)}}, pero gracias a los puntos extra que te ganaste en los cuestionarios, tu nota final es {{"%.2g"|format(nota_final)}}.
{% else %}
Hola, este mail es para darles la devolución del {{examen}}, tu nota es {{"%.2g"|format(nota)}}.
{% endif %}

{{correcciones}}
{% endblock %}